.medium--list{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}
select{
    margin:auto;
    display: block;
}

@media screen and (max-width:1000px) {
    .medium--list{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
